--extra-index-url=http://dist.pinaxproject.com/dev/
--extra-index-url=http://dist.pinaxproject.com/alpha/


Django==1.4.2
South==0.7.6
amqplib==1.0.2
anyjson==0.3.3
billiard==2.7.3.18
celery==3.0.12
coverage==3.6
distribute==0.6.10
dj-database-url==0.2.1
django-appconf==0.5
django-celery==3.0.11
django-forms-bootstrap==2.0.3.post1
django-jenkins==0.14.0
django-user-accounts==1.0b7
djangorestframework==2.1.1
importlib==1.0.2
kombu==2.4.8
logilab-astng==0.24.1
logilab-common==0.59.0
metron==1.0
ordereddict==1.1
pinax-theme-bootstrap==2.2.1
pinax-theme-bootstrap-account==1.0b2
pinax-utils==1.0b1.dev3
pylint==0.26.0
python-dateutil==1.5
pytz==2012h
unittest2==0.5.1
wsgiref==0.1.2
