{% extends "site_base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Welcome" %}{% endblock %}

{% block body_class %}home{% endblock %}

{% block body %}
	<div class="well">
	    <h1>Welcome to CIBOX.com</h1>
	    <p>
	        {% blocktrans %}
	        <b>CIBox.com</b> is a continuous integration procurement tool.
	        If you need a continuous integration environment for a short term
	        project and want it setup properly and efficiently then this
	        is the place for you. Sign up, add in some AWS credentials,
	        select the continous integration rules and reference architecture
	        and you will have a full fledged and well setup CI environment in no
	        time. 
	        {% endblocktrans %}
	    </p>
	</div>
{% endblock %}
